
            <!-- <div class="wrapper">
                <div class="wrapped-div">
                    <div class="tab-header"> 
                   <h1>giiiii</h1> -->
                   <div class="topnav">
                   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                   <a [routerLink]="['/patientdetailregister']" routerLinkActive="active"><i class='fas fa-users'></i> New User? SIGNUP</a>
                            <!-- <h2 routerLink='/signin' routerLinkActive='active'>SigIN</h2> -->
                            <h1></h1>
                            <h1>
                                
                            </h1>
                            <a [routerLink]="['/signin']" routerLinkActive="active"><i class='fas fa-user-alt'></i> LOGIN</a>
                                        <!-- <h2 routerLink='/patientdetailregister' routerLinkActive='active'>SignUP</h2> -->
                             </div>
                       <div class="row">
                            <div class="col-md-10 offset-md-1">
                                
                                    <router-outlet></router-outlet>
                                </div> 
                            </div>
                        <!-- </div> -->
                    <!-- </div> 
                --> 
               